.carousel .carousel-item {
    height: 500px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* ADICIONAIS

Recomendo remover ao testar o codigo para ver ele puro */

.card img{
    width: 20em;
    height: 25em;
}
.card{
    width: min-content;
    display: flex;
    align-items: center;
    border: 1px solid black;
    box-shadow: 1px 1px black;
}